extends layout

block content
  .container
    aside.months
      p Dec
      .curritem
    main
      header
        h1 December,
          span 2015
        button +
      .calender
        .days
          span Sun
          span Mon
          span Tue
          span Wed
          span Thu
          span Fri
          span Sat
        ul
          li.dark
            p 22
            span
            span
          li.dark
            p 22
            span
            span
          li.dark
            p 22
            span
            span
          li.dark
            p 22
            span
            span
          li.dark
            p 22
            span
            span
          li.dark
            p 22
            span
            span
          li.dark
            p 22
            span
            span
          
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          li
            p 22
            span
            span
          
    aside.appointments
      header
        h2 Friday,
          span 4th
      .appointment_items
        span 
        p Finish Assigment
          span 3PM
      
      .appointment_items
        span 
        p Finish Assigment
          span 3PM
          
      .appointment_items
        span 
        p Finish Assigment
          span 3PM
          
      footer
        button Add a new note
